<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Checkout | Dragon Sport</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="e-commerce site well design with responsive view." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"
              media="screen"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet"
              type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link th:href="@{/assets/css/stylesheet.css}" href="/assets/css/stylesheet.css" rel="stylesheet">
        <link th:href="@{/assets/css/responsive.css}" href="/assets/css/responsive.css" rel="stylesheet">
        <link th:href="@{/assets/css/all.css}" href="/assets/css/all.css" rel="stylesheet">
        <link th:href="@{/assets/owl-carousel/owl.carousel.css}" href="/assets/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet"
              media="screen"/>
        <link th:href="@{/assets/owl-carousel/owl.transitions.css}" href="/assets/owl-carousel/owl.transitions.css" type="text/css"
              rel="stylesheet" media="screen"/>
        <script th:src="@{/assets/javascript/jquery-2.1.1.min.js}" src="/assets/javascript/jquery-2.1.1.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}" src="/assets/bootstrap/js/bootstrap.min.js"
                type="text/javascript"></script>
        <script th:src="@{/assets/javascript/jstree.min.js}" src="/assets/javascript/jstree.min.js" type="text/javascript"></script>
        <script th:src="@{/assets/javascript/template.js}" src="/assets/javascript/template.js" type="text/javascript"></script>
        <script th:src="@{/assets/javascript/common.js}" src="/assets/javascript/common.js" type="text/javascript"></script>
        <script th:src="@{/assets/javascript/global.js}" src="/assets/javascript/global.js" type="text/javascript"></script>
        <script th:src="@{/assets/owl-carousel/owl.carousel.min.js}" src="/assets/owl-carousel/owl.carousel.min.js"
                type="text/javascript"></script>
        <link th:href="@{/assets/images/themify-icons/themify-icons.css}" rel="stylesheet"
              href="/assets/images/themify-icons/themify-icons.css">
        <link rel="stylesheet" th:href="@{/assets/css/dat-css.css}" href="/assets/css/dat-css.css">
        <link rel="stylesheet" th:href="@{/assets/css/khanh-css.css}" href="/assets/css/khanh-css.css">
        <link rel="stylesheet" th:href="@{/assets/css/hung-css.css}" href="/assets/css/hung-css.css">
        <script th:src="@{/assets/javascript/khanh-js.js}" src="/assets/javascript/khanh-js.js" type="text/javascript"></script>
        <link th:href="@{/assets/images/logo.png}" rel="shortcut icon" href="/assets/image/logo.png"/>


        <script type="text/javascript" src="data/product/Shoe/Football/FirmGroundFootballMan.js"></script>

        <style>
            .payment-input-active{
                background: #ff8585a3 !important;
            }
        </style>
    </head>

<body class="checkout col-2 left-col">
<header>
    <div class="contain-header-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contain-header">
                    <div class="contain-nav-info">
                        <div id="top-links" class="nav pull-left">
                            <ul class="list-inline">
                                <li class="account"><a href="/admin/pixelwibes.com/template/ebazar/html/dist/index.html"
                                                       class="notify"><i
                                        class="fas fa-bell color-header" style="margin-right: 10px"></i>
                                    <sp
                                            style="margin: 0 5px;" class="color-header">Thông
                                        báo
                                    </sp>
                                    <span style="margin-right: 10px;"
                                          class="color-header">(0)</span></a>
                                </li>
                                <li class="account"><a href="customer.html" id="wishlist-total"
                                                       title="Wish List (0)"><i
                                        class="fa fa-heart color-header"></i><span
                                        class="color-header">Danh sách
                                                yêu thích</span><span style="margin-right: 10px;"
                                                                      class="color-header">(0)</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"
                                       sec:authorize="!isAuthenticated()">
                                        <i class="fa fa-user color-header"></i><span class="color-header">Tài
                                                khoản</span> <span style=" font-size: 15px;"
                                                                   class="caret color-header"></span></a>
                                    <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"
                                       sec:authorize="isAuthenticated()">
                                        <i class="fa fa-user color-header"></i><span class="color-header"
                                                                                     th:text="'Hi! '+${@userController.nameByEmail()}">
                                                </span> <span style=" font-size: 15px;"
                                                              class="caret color-header"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" sec:authorize="!isAuthenticated()">
                                        <li><a th:href="@{/login}" class="js-login">Đăng Nhập</a></li>
                                        <li><a th:href="@{/registration}" class="js_register">Đăng Ký</a></li>
                                    </ul>
                                    <ul class="dropdown-menu dropdown-menu-right" sec:authorize="isAuthenticated()">
                                        <li><a th:href="@{/user/infor}" class="js-login">Hồ sơ</a></li>
                                        <li><a th:href="@{/logout}" class="js_register">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="header-inner">

                <div class="header-top">
                    <div>
                        <div class="header-middle-top">
                            <div id="logo" class="color-header" style="margin: 0; padding: 0;">
                                <a th:href="@{/}"><img th:src="@{/assets/images/logo.png}" src="/assets/images/logo.png"
                                                       title="E-Commerce" alt="E-Commerce"
                                                       class="logo-header"/></a>
                            </div>
                        </div>
                    </div>
                </div>

                <form th:action="@{/search}" method="GET">
                    <div class="text-center contain-search">
                        <div class="contain-search-product-popular">
                            <div class="search-product">
                                <input class="input-text-search-top" placeholder="Tìm kiếm" type="text" name="content">
                                <button class="search-product-top"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="contain-search-popular">
                                <span>X-Ray 2</span>
                                <span>Nike Air Force 2</span>
                                <span>Under Armour darkside</span>
                                <span>X9000L4 Shoes Mens</span>
                                <span>Adidas dragon sport</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-sm-4 col-xs-12 header-right header-nav-right">

                    <div id="cart" class="btn-group btn-block" style="margin: 0; padding: 0;">
                        <button type="button"
                                class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button cart-nav">
                            <span class="cart-title color-header" style="float: left;margin: 9px;">Giỏ hàng - </span>
                            <span id="cart-total" class="color-header"  sec:authorize="isAuthenticated()"  th:text="${totalPrice} + '$'">254.000 Đ</span>
                            <span class="value-header-product" style="margin-bottom: 10px"
                                  sec:authorize="isAuthenticated()"  th:text="${carts.size()}">1</span>
                            <i class="fas fa-shopping-cart cart-icon-nav"></i>
                        </button>


                        <ul class="dropdown-menu pull-right cart-dropdown-menu">
                            <li style="display: grid;
                                max-height: 300px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                             " class=" filter-search">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr  sec:authorize="isAuthenticated()" th:if="${carts}!=null" th:each="cart : ${carts}">
                                        <td class="text-center">
                                            <a href="#"><img
                                                    th:src="@{/assets/images/product/{img}(img=${@cartController.getProductByIdDetail(cart.idProductDetail).img})}"
                                                    src="/assets/images/product/product-01.jpg" width="100px"
                                                    height="100px"></a>
                                        </td>
                                        <td class="text-left"><a href="#"
                                                                 th:text="${@cartController.getProductByIdDetail(cart.idProductDetail).name}">lorem
                                            ippsum dolor dummy</a></td>
                                        <td class="text-right"
                                            th:text="(${@cartController.getProductByIdDetail(cart.idProductDetail).price} * (100 -${@cartController.getProductByIdDetail(cart.idProductDetail).saleRate}) /100) *${cart.quantity} +'$'">
                                            $254.00
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-xs"
                                                    title="Remove" type="button"><i
                                                    class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </li>
                            <li>
                                <div>
                                    <table class="table table-bordered">
                                        <tbody>

                                        <tr>
                                            <td class="text-right"><strong>Tạm tính</strong></td>
                                            <td class="text-right" th:text="${totalPrice} +'$'">254.000Đ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-right"> <span class="btn-viewcart"><a th:href="@{/cart}"><strong><i
                                            class="fa fa-shopping-cart"></i> View
                                                        Cart</strong></a></span> <span class="btn-checkout"><a
                                            th:href="@{/cart}"><strong><i class="fa fa-share"></i>
                                                        Checkout</strong></a></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="bt-nav-collapse hidden-lg hidden-md"><i
                        class="fa fa-bars"></i></button>
            </div>

        </div>
    </div>
    <nav id="menu-navigation" class="navbar" style="width: 100%;">
        <!--function displayMenuNavigation() in khanh-js.js-->
    </nav>
</header>
<div class="container">
   
    <div class="row">

        <div class="col-sm-8">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading a">
                        <h2 class="panel-title">
                            <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse"
                               href="#collapse-checkout-confirm" aria-expanded="true">Xác nhận đơn hàng <i
                                    class="fa fa-caret-down"></i></a></h2>
                    </div>
                    <div id="collapse-checkout-confirm" role="heading" class="panel-collapse collapse in"
                         aria-expanded="true" >
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-checkout">
                                    <thead>
                                    <tr>
                                        <td class="text-left">Ảnh</td>
                                        <td class="text-left">Tên sản phẩm</td>
                                        <td class="text-left">Nhãn hàng</td>
                                        <td class="text-left">Size</td>
                                        <td class="text-right">Số lượng</td>
                                        <td class="text-right">Đơn giá</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cart : ${carts}">
                                        <td class="text-center">
                                            <input type="hidden"  class="productCheckbox" th:value="${cart.id}">
                                           <a th:href="@{/product/detail/{idProduct} (idProduct=${@cartController.getProductByIdDetail(cart.idProductDetail).id})}"><img class="img-thumbnail"
                                                                        title="women's New Wine is an alcoholic"
                                                                        alt="women's New Wine is an alcoholic"
                                                                        th:src="@{/assets/images/product/{img}(img=${@cartController.getProductByIdDetail(cart.idProductDetail).img})}"></a>
                                        </td>
                                        <td class="text-left" style="max-width: 300px"><a th:href="@{/product/detail/{idProduct} (idProduct=${@cartController.getProductByIdDetail(cart.idProductDetail).id})}" th:text="${@cartController.getProductByIdDetail(cart.idProductDetail).name}">women's New Wine is an alcoholic</a>
                                        </td>
                                        <td class="text-left" th:text="${@cartController.getBrand(@cartController.getProductByIdDetail(cart.idProductDetail).brand).name}">Sản phẩm 11</td>
                                        <td class="text-left" th:text="${@cartController.getProductDetailById(cart.id).size}">Sản phẩm 11</td>
                                        <td class="text-center" th:text="${cart.quantity}">Sản phẩm 11</td>
                                        <td class="text-right total-price-oke" style="font-weight: bold" th:text="(${@cartController.getProductByIdDetail(cart.idProductDetail).price} * (100 -${@cartController.getProductByIdDetail(cart.idProductDetail).saleRate}) /100) *${cart.quantity} +'$'"> 254.000 VNĐ</td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td class="text-right" colspan="5"><strong>Tổng:</strong></td>
                                        <td class="text-right" th:text="${totalPrice}+'$'" style="font-weight: bold;color: #108bea">$428.00</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div>
                                <h2 class="checkout-note">Nếu bạn không hài lòng với sản phẩm của chúng tôi? Bạn hoàn
                                    toàn có thể trả lại sản phẩm. Tìm hiểu thêm
                                    <a href="#" class="link-checkout-note"><strong>tại đây.</strong></a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading a">
                        <h2 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion"
                                                   data-toggle="collapse" href="#collapse-checkout-option"
                                                   aria-expanded="true">
                            Thông tin nhận hàng <i class="fa fa-caret-down"></i></a></h2>
                    </div>
                    <div id="collapse-checkout-option" role="heading" class="panel-collapse collapse in"
                         aria-expanded="true" style="height: 0px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Bạn đã có tài khoản <a style="color: darkorange; cursor:pointer;">Đăng nhập
                                        ngay</a></h3>
                                    <form>
                                        <div class="section-input-form">
                                            <input type="text" class="form-input" placeholder="Họ tên">
                                            <input type="text" class="form-input" placeholder="Số điện thoại">
                                        </div>
                                        <div class="section-input-form">
                                            <input type="email" class="form-input" placeholder="Địa chỉ email">
                                        </div>
                                        <div class="section-input-form">
                                            <input type="text" class="form-input"
                                                   placeholder="Địa chỉ (Ví dụ: 1056, Bình Chiểu, Thủ Đức)">
                                        </div>
                                        <div class="contain-adjust-address">
                                            <span class="label-address">Tỉnh/ Thành phố:</span>
                                            <select id="contain-option-city">
                                            <!-- khanh-js loadLocation() display this -->
                                        </select>
                                            <span class="label-address">Quận/ Huyện:</span>
                                            <select id="contain-option-district">
                                            <!-- khanh-js loadLocation() display this -->
                                        </select>
                                            <span class="label-address">Phường/ Xã:</span>
                                            <select id="contain-option-ward">
                                            <!-- khanh-js loadLocation() display this -->
                                        </select>
                                            <span class="label-address">Địa chỉ</span>
                                            <textarea rows="4" cols="50"></textarea>
                                        </div>
                                        <div class="contain-default-address-customer" style="margin: 15px 15px">
                                            <input type="checkbox" id="default-address-customer">
                                            <label for="default-address-customer" style="font-size: 17px">Đặt làm địa chỉ mặc định</label><br>
                                        </div>
                                        <div class="section-input-form">
                                            <input type="text" class="form-input"
                                                   placeholder="Ghi chú thêm (Ví dụ: Giao hàng giờ hành chính)">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="col-sm-4 contain-pay-all bg-item pd-5 bd-rd">
            <!-- thanh toán -->
            <h2>Chọn hình thức thanh toán cho đơn hàng này.</h2>
            <form th:action="@{/payment/paypal/pay}" id="formCheckOut" class="contain-form-payment"  method="POST">
                <input type="hidden" name="cartIds"  th:value="${cartIds}" />
                <div class="payment-input payment-input-active"  id="contain-payment-cod">
                    <input type="hidden" name="idAddress" value="9">
                    <input type="radio" name="payment" value="onDelivery" id="payment-cod" checked>
                    <label for="payment-cod">
                        <img th:src="@{/assets/images/payment/cod.png}" width="35" height="35">
                    </label>
                    <label for="payment-cod">
                        <h4>Thanh toán khi nhận hàng (COD)</h4>
                    </label>
                </div>
                <div class="payment-input" id="contain-payment-shoppe">
                    <input type="radio" name="payment" value="paypal" id="payment-shoppe">
                    <label for="payment-shoppe">
                        <img th:src="@{/assets/images/payment/paypal.png}" width="35" height="35">
                    </label>
                    <label for="payment-shoppe">
                        <h4>
                            Paypal
                        </h4>
                    </label>
                </div>
                <div class="payment-input"  id="contain-payment-zalo">
                    <input type="radio" name="payment" value="zalo" id="payment-zalo">
                    <label for="payment-zalo">
                        <img th:src="@{/assets/images/payment/zalo.svg}" width="35" height="35">
                    </label>
                    <label for="payment-zalo">
                        <h4>Ví điện tử ZaloPay</h4>
                    </label>
                </div>
                <div class="payment-input"  id="contain-payment-momo">
                    <input type="radio" name="payment" value="momo" id="payment-momo">
                    <label for="payment-momo">
                        <img th:src="@{/assets/images/payment/momo.png}" width="35" height="35">
                    </label>
                    <label for="payment-momo">
                        <h4>Ví MOMO</h4>
                    </label>
                </div>
                <h2>Thành tiền</h2>
                <div class="pay-all">
                    <form class="input-pay-all">
                        <input type="text" placeholder="Mã giảm giá">
                        <button>Áp dụng</button>
                    </form>
                    <ul>
                        <li>Tạm tính</li>
                        <li th:text="${totalPrice}+'$'">$428</li>
                    </ul>
                    <ul>
                        <li>Mã giảm giá</li>
                        <li class="pay-all-item-money">0$</li>
                    </ul>
                    <ul>
                        <li>Phí giao hàng</li>
                        <li class="pay-all-item-money">5%</li>
                    </ul>
                    <ul>
                        <li>Tổng cộng</li>
                        <li style="color: rgb(187, 60, 60); font-weight: bold" th:text="${totalPrice}+ 5+'$'">498.000đ</li>
                    </ul>
                    <div class="buttons">
                        <div class="pull-right">
                            <input type="submit" data-loading-text="Loading..." class="button-pay-all btn"
                                   id="button-confirm" value="Thanh toán">
                        </div>
                    </div>
            </form>


            </div>

        </div>
    </div>
   
</div>
<footer style="margin: 10px 0;">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-3 footer-block">
                <h5 class="footer-title">Thông tin</h5>
                <ul class="list-unstyled ul-wrapper">
                    <li><a href="about-us.html">Về chúng tôi</a></li>
                    <li><a href="checkout.html">Thông tin giao hàng</a></li>
                    <li><a href="#">Chính sách</a></li>
                    <li><a href="#">Luật &amp; Điều kiện</a></li>
                    <li><a href="#">Bản đồ</a></li>
                    <li><a href="#">Danh sách yêu thích</a></li>
                </ul>
            </div>
            <div class="col-sm-3 footer-block">
                <h5 class="footer-title">Why Choose</h5>
                <ul class="list-unstyled ul-wrapper">
                    <li><a href="contact.html">Liên lạc</a></li>
                    <li><a href="#">Voucher quà tặng</a></li>
                    <li><a href="#">Trả hàng</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Giúp đỡ & FAQs</a></li>
                    <li><a href="#">Sale trong hôm nay</a></li>
                </ul>
            </div>
            <div class="col-sm-3 footer-block">
                <h5 class="footer-title">Tài khoản của tôi</h5>
                <ul class="list-unstyled ul-wrapper">
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Voucher quà tặng</a></li>
                    <li><a href="#">Chi nhánh</a></li>
                    <li><a href="#">Giỏ hàng</a></li>
                    <li><a href="#">Thanh toán</a></li>
                    <li><a href="#">Theo dõi hóa đơn</a></li>
                    <li><a href="#">Giúp đỡ</a></li>
                </ul>
            </div>
            <div class="col-sm-3 footer-block">
                <div class="content_footercms_right">
                    <div class="footer-contact">
                        <h5 class="contact-title footer-title">Liên lạc</h5>
                        <ul class="ul-wrapper">
                         <li> 29/1, đường số 4, KP.3, P. Bình Khánh, Q.2, TPHCM, Việt Nam</li>
                            <li><span class="mail2"><a
                                        href="#">info@localhost.com</a></span></li>
                            <li><i class="fa fa-mobile"></i><span class="phone2">+91 0987-654-321<br>+91
                                    0987-654-321</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-top-cms">
                <div class="col-sm-7">
                    <div class="newslatter">
                        <form>
                            <h5>Đăng kí để nhận thư</h5>
                            <div class="input-group">
                                <input type="text" class=" form-control" placeholder="email@website.com">
                                <button type="submit" value="Sign up"
                                    class="btn btn-large btn-primary">Đăng kí</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="footer-social">
                        <h5>Mạng xã hội</h5>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li class="gplus"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                            <li class="youtube"><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="scrollup">Scroll</a>
</footer>

    <!-- Begin: modal message -->
    <div class="icon-message">
        <img class="icon-mess js-open-mess" src="./image/icon/icon-mess.ico" alt="">
    </div>
    <div class="modal-message message">
        <div class="mess-section">
            <div class="mess-header">
                <img class="icon-logo " src="./image/logo.png" alt="">
                <img class="icon-close js-close-mess" src="./image/icon/icon-close.png" alt="">
            </div>
            <div class="mess-content">
                <div class="mess-content-section">
                    <p class="mess-title">Hiện tại, chúng tôi không trực tuyến. 
                        Quý khách vui lòng để lại tin nhắn, 
                        chúng tôi sẽ sớm liên hệ trong buổi 
                        làm việc tiếp theo. Trân trọng cảm ơn.</p>
                    <p class="name">Họ & Tên *</p>
                    <input type="text" >
                    <p class="name">Địa chỉ Email *</p>
                    <input type="email" >
                    <p class="name">Điện thoại *</p>
                    <input type="phone" >
                    <p class="mess">Tin nhắn *</p>
                    <textarea class="text-send" type="text" rows="4" spellcheck="false"> </textarea>
                    <button class="send">Để lại tin nhắn</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End: modal message -->
    <script th:src="@{/assets/javascript/hung-js.js}" src="/assets/javascript/hung-js.js"></script>
    <script>


    </script>
</body>

</html>
